{% extends 'base.html.twig' %}
      {% block nav %}

		  {% include 'Inc/nav2.html.twig' %}

	  {% endblock %}


{% block body %}
<div class="clearfix"></div>
			
			<!-- Title Header Start -->
			<section class="inner-header-page">
				<div class="container">
					
					<h2>2,472 Jobs Found</h2>
					<p>The top freelancing website trusted by over 5 million businesses.</p>
					
				</div>
			</section>
			<div class="clearfix"></div>
			<!-- Title Header End -->
			
			<!-- Accordion Design Start -->
			<section class="accordion">
				<div class="container">
					
					<!-- search filter -->
					<div class="row extra-mrg">
						<div class="wrap-search-filter">
							<form>
								<div class="col-md-3 col-sm-3">
									<input type="text" class="form-control" placeholder="Anywhere...">
								</div>
								<div class="col-md-3 col-sm-3">
									<input type="text" class="form-control" placeholder="Keyword. Design, Seo..">
								</div>
								<div class="col-md-3 col-sm-3">
									<select class="selectpicker form-control" multiple title="All Categories">
										<option>Admin Support</option>
										<option>Customer Service</option>
										<option>Data Analytics</option>
										<option>Design & Creative</option>
										<option>Software Developing</option>
										<option>IT & Networking</option>
										<option>Content Writer</option>
										<option>Sales & Marketing</option>
									</select>

								</div>
								<div class="col-md-3 col-sm-3">
									<button type="submit" class="btn btn-primary full-width">Filter</button>
								</div>
							</form>
						</div>
					</div>
					<!-- search filter End -->
					
					<!-- Freelancers Start -->
					<div class="row">
						
						<!-- Single Freelancer & Premium job -->
						<div class="col-md-4 col-sm-6">
							<div class="popular-jobs-container">
								<div class="popular-jobs-box">
									<span class="popular-jobs-status bg-success">hourly</span>
									<h4 class="flc-rate">$17/hr</h4>
									<div class="popular-jobs-box">
										<div class="popular-jobs-box-detail">
											<h4>Google Inc</h4>
											<span class="desination">Software Designer</span>
										</div>
									</div>
									<div class="popular-jobs-box-extra">
										<ul>
											<li>Php</li>
											<li>Android</li>
											<li>Html</li>
											<li class="more-skill bg-primary">+3</li>
										</ul>
										<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
									</div>
								</div>
								<a href="#" class="btn btn-popular-jobs bt-1">View Detail</a>
							</div>
						</div>
						
						<!-- Single Freelancer & Premium job -->
						<div class="col-md-4 col-sm-6">
							<div class="popular-jobs-container">
								<div class="popular-jobs-box">
									<span class="popular-jobs-status bg-warning">Monthly</span>
									<h4 class="flc-rate">$570/Mo</h4>
									<div class="popular-jobs-box">
										<div class="popular-jobs-box-detail">
											<h4>Duff Beer</h4>
											<span class="desination">Marketting</span>
										</div>
									</div>
									<div class="popular-jobs-box-extra">
										<ul>
											<li>Php</li>
											<li>Android</li>
											<li>Html</li>
											<li class="more-skill bg-primary">+3</li>
										</ul>
										<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
									</div>
								</div>
								<a href="#" class="btn btn-popular-jobs bt-1">View Detail</a>
							</div>
						</div>
						
						<!-- Single Freelancer & Premium job -->
						<div class="col-md-4 col-sm-6">
							<div class="popular-jobs-container">
								<div class="popular-jobs-box">
									<span class="popular-jobs-status bg-info">Weekly</span>
									<h4 class="flc-rate">$200/We</h4>
									<div class="popular-jobs-box">
										<div class="popular-jobs-box-detail">
											<h4>Cyberdyne Systems</h4>
											<span class="desination">Human Resource</span>
										</div>
									</div>
									<div class="popular-jobs-box-extra">
										<ul>
											<li>Php</li>
											<li>Android</li>
											<li>Html</li>
											<li class="more-skill bg-primary">+3</li>
										</ul>
										<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
									</div>
								</div>
								<a href="#" class="btn btn-popular-jobs bt-1">View Detail</a>
							</div>
						</div>
						
						<!-- Single Freelancer & Premium job -->
						<div class="col-md-4 col-sm-6">
							<div class="popular-jobs-container">
								<div class="popular-jobs-box">
									<span class="popular-jobs-status bg-danger">Yearly</span>
									<h4 class="flc-rate">$2000/Pa</h4>
									<div class="popular-jobs-box">
										<div class="popular-jobs-box-detail">
											<h4>Wayne Enterprises</h4>
											<span class="desination">App Designer</span>
										</div>
									</div>
									<div class="popular-jobs-box-extra">
										<ul>
											<li>Php</li>
											<li>Android</li>
											<li>Html</li>
											<li class="more-skill bg-primary">+3</li>
										</ul>
										<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
									</div>
								</div>
								<a href="#" class="btn btn-popular-jobs bt-1">View Detail</a>
							</div>
						</div>
						
						<!-- Single Freelancer & Premium job -->
						<div class="col-md-4 col-sm-6">
							<div class="popular-jobs-container">
								<div class="popular-jobs-box">
									<span class="popular-jobs-status bg-warning">monthly</span>
									<h4 class="flc-rate">$480/Mo</h4>
									<div class="popular-jobs-box">
										<div class="popular-jobs-box-detail">
											<h4>Gekko & Co</h4>
											<span class="desination">Data Analysist</span>
										</div>
									</div>
									<div class="popular-jobs-box-extra">
										<ul>
											<li>Php</li>
											<li>Android</li>
											<li>Html</li>
											<li class="more-skill bg-primary">+3</li>
										</ul>
										<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
									</div>
								</div>
								<a href="#" class="btn btn-popular-jobs bt-1">View Detail</a>
							</div>
						</div>
						
						<!-- Single Freelancer & Premium job -->
						<div class="col-md-4 col-sm-6">
							<div class="popular-jobs-container">
								<div class="popular-jobs-box">
									<span class="popular-jobs-status bg-success">hourly</span>
									<h4 class="flc-rate">$17/hr</h4>
									<div class="popular-jobs-box">
										<div class="popular-jobs-box-detail">
											<h4>Ollivander's Shop</h4>
											<span class="desination">Graphic Designer</span>
										</div>
									</div>
									<div class="popular-jobs-box-extra">
										<ul>
											<li>Php</li>
											<li>Android</li>
											<li>Html</li>
											<li class="more-skill bg-primary">+3</li>
										</ul>
										<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
									</div>
								</div>
								<a href="#" class="btn btn-popular-jobs bt-1">View Detail</a>
							</div>
						</div>
						
						<!-- Single Freelancer & Premium job -->
						<div class="col-md-4 col-sm-6">
							<div class="popular-jobs-container">
								<div class="popular-jobs-box">
									<span class="popular-jobs-status bg-info">weekly</span>
									<h4 class="flc-rate">$178/We</h4>
									<div class="popular-jobs-box">
										<div class="popular-jobs-box-detail">
											<h4>Stark Industries</h4>
											<span class="desination">Project Manager</span>
										</div>
									</div>
									<div class="popular-jobs-box-extra">
										<ul>
											<li>Php</li>
											<li>Android</li>
											<li>Html</li>
											<li class="more-skill bg-primary">+3</li>
										</ul>
										<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
									</div>
								</div>
								<a href="#" class="btn btn-popular-jobs bt-1">View Detail</a>
							</div>
						</div>
						
						<!-- Single Freelancer & Premium job -->
						<div class="col-md-4 col-sm-6">
							<div class="popular-jobs-container">
								<div class="popular-jobs-box">
									<span class="popular-jobs-status bg-success">hourly</span>
									<h4 class="flc-rate">$17/hr</h4>
									<div class="popular-jobs-box">
										<div class="popular-jobs-box-detail">
											<h4>Acme Corp</h4>
											<span class="desination">Web Designer</span>
										</div>
									</div>
									<div class="popular-jobs-box-extra">
										<ul>
											<li>Php</li>
											<li>Android</li>
											<li>Html</li>
											<li class="more-skill bg-primary">+3</li>
										</ul>
										<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
									</div>
								</div>
								<a href="#" class="btn btn-popular-jobs bt-1">View Detail</a>
							</div>
						</div>
						
						<!-- Single Freelancer & Premium job -->
						<div class="col-md-4 col-sm-6">
							<div class="popular-jobs-container">
								<div class="popular-jobs-box">
									<span class="popular-jobs-status bg-danger">yearly</span>
									<h4 class="flc-rate">$2700/Pa</h4>
									<div class="popular-jobs-box">
										<div class="popular-jobs-box-detail">
											<h4>Wonka Industries</h4>
											<span class="desination">Manager</span>
										</div>
									</div>
									<div class="popular-jobs-box-extra">
										<ul>
											<li>Php</li>
											<li>Android</li>
											<li>Html</li>
											<li class="more-skill bg-primary">+3</li>
										</ul>
										<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
									</div>
								</div>
								<a href="#" class="btn btn-popular-jobs bt-1">View Detail</a>
							</div>
						</div>
						
						<!-- More -->
						<div class="col-md-12 col-sm-12">
							<div class="text-center">
								<a href="#" class="btn btn-primary">Load More</a>
							</div>
						</div>
						
					</div>
						
				</div>
			</section>
			<!-- Accordion Design End -->
			

			<!-- Sign Up Window Code -->
			<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body">
							<div class="tab" role="tabpanel">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a href="#login" role="tab" data-toggle="tab">Sign In</a></li>
								<li role="presentation"><a href="#register" role="tab" data-toggle="tab">Sign Up</a></li>
							</ul>
							<!-- Tab panes -->
							<div class="tab-content" id="myModalLabel2">
								<div role="tabpanel" class="tab-pane fade in active" id="login">
									<img src="assets/img/logo.png" class="img-responsive" alt="" />
									<div class="subscribe wow fadeInUp">
										<form class="form-inline" method="post">
											<div class="col-sm-12">
												<div class="form-group">
													<input type="email"  name="email" class="form-control" placeholder="Username" required="">
													<input type="password" name="password" class="form-control"  placeholder="Password" required="">
													<div class="center">
													<button type="submit" id="login-btn" class="submit-btn"> Login </button>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>

								<div role="tabpanel" class="tab-pane fade" id="register">
								<img src="assets/img/logo.png" class="img-responsive" alt="" />
									<form class="form-inline" method="post">
											<div class="col-sm-12">
												<div class="form-group">
													<input type="text"  name="email" class="form-control" placeholder="Your Name" required="">
													<input type="email"  name="email" class="form-control" placeholder="Your Email" required="">
													<input type="email"  name="email" class="form-control" placeholder="Username" required="">
													<input type="password" name="password" class="form-control"  placeholder="Password" required="">
													<div class="center">
													<button type="submit" id="subscribe" class="submit-btn"> Create Account </button>
													</div>
												</div>
											</div>
										</form>
								</div>
							</div>
							</div>
						</div>
						</div>
				</div>
			</div>   
			<!-- End Sign Up Window -->

{% endblock %}