{% extends 'admin/base.html.twig' %}
{% block nav %}
    {% include 'admin/include/navbar.html.twig' %}
{% endblock %}
{% block sidebar %}
    {% include 'admin/include/sidebar.html.twig' %}
{% endblock %}


{% block body %}




    <div class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Liste des Categories des Offres</h4>
                            </div>

                        </div>
                        <div class="card-body">
                            <div class="collapse" id="datatable-1">
                                <div class="card"><kbd class="bg-dark"><pre id="bootstrap-datatables" class="text-white"><code>

                                </code></pre></kbd></div>
                            </div>
                            <div class="table-responsive">
                                <table id="datatable" class="table data-table table-striped table-bordered" >
                                    <thead>
                                    <tr>
                                        <th>Nom </th>
                                        <th>Type</th>
                                        <th>Liste Offres</th>
                                        <th>Action</th>

                                    </tr>
                                    </thead>
                                    {% for categorie in categorieoffres %}
                                        <tr>
                                            <td>{{ categorie.nom }}</td>
                                            <td><img src="{{ asset('/picture/' ~ categorieoffre.logo) }}"width="130" height="130"></td>
                                            <td><button class="btn">Delete</button></td>
                                            <a href="{{ path('categorieoffre_edit', {'id': categorieoffre.id}) }}">edit</a>

                                            <form action="{{ path('categorieoffre_delete',{'id':categorieoffre.id}) }}">delete</form>

                                                <td><button class="btn">Delete</button></td>
                                        </tr>
                                    {% endfor %}


                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}