{% extends 'base.html.twig' %}
      {% block nav %}

          {% include 'Inc/nav2.html.twig' %}

      {% endblock %}


{% block body %}
    <div class="clearfix"></div>


    <!-- Main Banner Section Start -->
    <div class="hero-banner" data-ride="carousel" data-pause="hover" data-interval="false" >
        <div class="hero-img">
            <img src="assets/img/gtrr.jpg" class="img-responsive" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col col-md-6 col-sm-8">
                    <div class="content">
                        <h2>Talent?<br> Meet Opportunity.</h2>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas</p>
                        <form class="banner-form" data-animation="animated fadeInUp">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search For...">
                                <span class="input-group-btn">
											<button type="button" class="btn bg-success">Go & Search</button>
										</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- Main Banner Section End -->

    <!-- Brand -->
    <div class="company-brand freelancer">
        <div class="container">
            <div id="company-brands" class="owl-carousel">
                <div class="brand-img">
                    <img src="assets/img/microsoft-home-dark.png" class="img-responsive" alt="" />
                </div>
                <div class="brand-img">
                    <img src="assets/img/img-home-dark.png" class="img-responsive" alt="" />
                </div>
                <div class="brand-img">
                    <img src="#" class="img-responsive" alt="" />
                </div>
                <div class="brand-img">
                    <img src="assets/img/paypal-home-dark.png" class="img-responsive" alt="" />
                </div>
                <div class="brand-img">
                    <img src="assets/img/serv-home-dark.png" class="img-responsive" alt="" />
                </div>
                <div class="brand-img">
                    <img src="assets/img/xerox-home-dark.png" class="img-responsive" alt="" />
                </div>
                <div class="brand-img">
                    <img src="assets/img/yahoo-home-dark.png" class="img-responsive" alt="" />
                </div>
                <div class="brand-img">
                    <img src="#" class="img-responsive" alt="" />
                </div>
            </div>
        </div>
    </div>

    <!-- ====================== How It Work ================= -->
    <section class="how-it-works">
        <div class="container">

            <div class="row" data-aos="fade-up">
                <div class="col-md-12">
                    <div class="main-heading">
                        <p>Working Process</p>
                        <h2>How It <span>Works</span></h2>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-4 col-sm-4">
                    <div class="working-process">
								<span class="process-img">
									<img src="assets/img/step-1.png" class="img-responsive" alt="" />
									<span class="process-num">01</span>
								</span>
                        <h4>Create An Account</h4>
                        <p>Post a job to tell us about your project. We'll quickly match you with the right freelancers find place best.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="working-process">
								<span class="process-img">
									<img src="assets/img/step-2.png" class="img-responsive" alt="" />
									<span class="process-num">02</span>
								</span>
                        <h4>Search Jobs</h4>
                        <p>Post a job to tell us about your project. We'll quickly match you with the right freelancers find place best.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="working-process">
								<span class="process-img">
									<img src="assets/img/step-3.png" class="img-responsive" alt="" />
									<span class="process-num">03</span>
								</span>
                        <h4>Save & Apply</h4>
                        <p>Post a job to tell us about your project. We'll quickly match you with the right freelancers find place best.</p>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <!-- ========= start Call To Action section =========== -->
    <div class="clearfix"></div>
    <section class="call-to-act">
        <div class="container-fluid">

            <div class="col-md-6 col-sm-6 no-padd bl-dark">
                <div class="call-to-act-caption">
                    <h2>We Are Expert In Web design and development</h2>
                    <h3>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo</h3>
                    <a href="#" class="btn bat-call-to-act">Hire Us</a>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 no-padd gr-dark">
                <div class="call-to-act-caption">
                    <h2>We Are Expert In Web design and development</h2>
                    <h3>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo</h3>
                    <a href="#" class="btn bat-call-to-act">Join Us</a>
                </div>
            </div>

        </div>
    </section>
    <!-- =========== Call To Action section End ============= -->

    <!-- ====================== Freelancer Slide ================= -->
    <section>
        <div class="container">

            <div class="row" data-aos="fade-up">
                <div class="col-md-12">
                    <div class="main-heading">
                        <p>Hire Experts</p>
                        <h2>Hire Experts <span>Team</span></h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="grid-slide">

                    <!-- Single Freelancer -->
                    <div class="grid-slide-box">
                        <div class="freelance-container">
                            <div class="freelance-box">
                                <span class="freelance-status">Available</span>
                                <h4 class="flc-rate">$17/hr</h4>
                                <div class="freelance-inner-box">
                                    <div class="freelance-box-thumb">
                                        <img src="assets/img/client-1.jpg" class="img-responsive img-circle" alt="" />
                                    </div>
                                    <div class="freelance-box-detail">
                                        <h4>Agustin L. Smith</h4>
                                        <span class="desination">App Designer</span>
                                    </div>
                                </div>
                                <div class="freelance-box-extra">
                                    <ul>
                                        <li>Php</li>
                                        <li>Android</li>
                                        <li>Html</li>
                                        <li class="more-skill bg-primary">+3</li>
                                    </ul>
                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
                                </div>
                            </div>
                            <a href="freelancer-detail.html" class="btn btn-freelance bt-1">View Detail</a>
                        </div>
                    </div>

                    <!-- Single Freelancer -->
                    <div class="grid-slide-box">
                        <div class="freelance-container">
                            <div class="freelance-box">
                                <span class="freelance-status bg-warning">At Work</span>
                                <h4 class="flc-rate">$19/hr</h4>
                                <div class="freelance-inner-box">
                                    <div class="freelance-box-thumb">
                                        <img src="assets/img/client-2.jpg" class="img-responsive img-circle" alt="" />
                                    </div>
                                    <div class="freelance-box-detail">
                                        <h4>Delores R. Williams</h4>
                                        <span class="desination">Software Developer</span>
                                    </div>
                                </div>
                                <div class="freelance-box-extra">
                                    <ul>
                                        <li>Php</li>
                                        <li>Android</li>
                                        <li>Html</li>
                                        <li class="more-skill bg-primary">+3</li>
                                    </ul>
                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
                                </div>
                            </div>
                            <a href="freelancer-detail.html" class="btn btn-freelance bt-1">View Detail</a>
                        </div>
                    </div>

                    <!-- Single Freelancer -->
                    <div class="grid-slide-box">
                        <div class="freelance-container">
                            <div class="freelance-box">
                                <span class="freelance-status">Available</span>
                                <h4 class="flc-rate">$15/hr</h4>
                                <div class="freelance-inner-box">
                                    <div class="freelance-box-thumb">
                                        <img src="assets/img/client-3.jpg" class="img-responsive img-circle" alt="" />
                                    </div>
                                    <div class="freelance-box-detail">
                                        <h4>Daniel Disroyer</h4>
                                        <span class="desination">SEO Expert</span>
                                    </div>
                                </div>
                                <div class="freelance-box-extra">
                                    <ul>
                                        <li>Php</li>
                                        <li>Android</li>
                                        <li>Html</li>
                                        <li class="more-skill bg-primary">+3</li>
                                    </ul>
                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
                                </div>
                            </div>
                            <a href="freelancer-detail.html" class="btn btn-freelance bt-1">View Detail</a>
                        </div>
                    </div>

                    <!-- Single Freelancer -->
                    <div class="grid-slide-box">
                        <div class="freelance-container">
                            <div class="freelance-box">
                                <span class="freelance-status bg-primary">Busy</span>
                                <h4 class="flc-rate">$17/hr</h4>
                                <div class="freelance-inner-box">
                                    <div class="freelance-box-thumb">
                                        <img src="assets/img/client-4.jpg" class="img-responsive img-circle" alt="" />
                                    </div>
                                    <div class="freelance-box-detail">
                                        <h4>Nancy D. Walker</h4>
                                        <span class="desination">PHP Developer</span>
                                    </div>
                                </div>
                                <div class="freelance-box-extra">
                                    <ul>
                                        <li>Php</li>
                                        <li>Android</li>
                                        <li>Html</li>
                                        <li class="more-skill bg-primary">+3</li>
                                    </ul>
                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
                                </div>
                            </div>
                            <a href="freelancer-detail.html" class="btn btn-freelance bt-1">View Detail</a>
                        </div>
                    </div>

                    <!-- Single Freelancer -->
                    <div class="grid-slide-box">
                        <div class="freelance-container">
                            <div class="freelance-box">
                                <span class="freelance-status">Available</span>
                                <h4 class="flc-rate">$44/hr</h4>
                                <div class="freelance-inner-box">
                                    <div class="freelance-box-thumb">
                                        <img src="assets/img/client-5.jpg" class="img-responsive img-circle" alt="" />
                                    </div>
                                    <div class="freelance-box-detail">
                                        <h4>Larry A. Sherrod</h4>
                                        <span class="desination">Data Analytics</span>
                                    </div>
                                </div>
                                <div class="freelance-box-extra">
                                    <ul>
                                        <li>Php</li>
                                        <li>Android</li>
                                        <li>Html</li>
                                        <li class="more-skill bg-primary">+3</li>
                                    </ul>
                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
                                </div>
                            </div>
                            <a href="freelancer-detail.html" class="btn btn-freelance bt-1">View Detail</a>
                        </div>
                    </div>

                    <!-- Single Freelancer -->
                    <div class="grid-slide-box">
                        <div class="freelance-container">
                            <div class="freelance-box">
                                <span class="freelance-status bg-danger">No Available</span>
                                <h4 class="flc-rate">$22/hr</h4>
                                <div class="freelance-inner-box">
                                    <div class="freelance-box-thumb">
                                        <img src="assets/img/client-1.jpg" class="img-responsive img-circle" alt="" />
                                    </div>
                                    <div class="freelance-box-detail">
                                        <h4>Eva J. Simmons</h4>
                                        <span class="desination">Web Designer</span>
                                    </div>
                                </div>
                                <div class="freelance-box-extra">
                                    <ul>
                                        <li>Php</li>
                                        <li>Android</li>
                                        <li>Html</li>
                                        <li class="more-skill bg-primary">+3</li>
                                    </ul>
                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
                                </div>
                            </div>
                            <a href="freelancer-detail.html" class="btn btn-freelance bt-1">View Detail</a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <!-- Download app Section Start -->
    <div class="clearfix"></div>
    <section class="download-app" style="background-image:url(assets/img/banner-10.jpg);">
        <div class="container">
            <div class="col-md-5 col-sm-5 hidden-xs">
                <img src="assets/img/iphone.png" alt="iphone" class="img-responsive" />
            </div>
            <div class="col-md-7 col-sm-7">
                <div class="app-content">
                    <h2>Download Our Best Apps</h2>
                    <h4>Best oppertunity in your hand</h4>
                    <p>Aliquam vestibulum cursus felis. In iaculis iaculis sapien ac condimentum. Vestibulum congue posuere lacus, id tincidunt nisi porta sit amet. Suspendisse et sapien varius, pellentesque dui non, semper orci. Curabitur blandit, diam ut ornare ultricies.</p>
                    <a href="#" class="btn call-btn"><i class="fa fa-apple"></i>Download</a>
                    <a href="#" class="btn call-btn"><i class="fa fa-android"></i>Download</a>
                </div>
            </div>
            <!--/row-->
        </div>
    </section>
    <div class="clearfix"></div>
    <!-- Download app Section End -->


</div>
{% endblock %}