{% extends 'backend/base.html.twig' %}
{% block nav %}
    {% include 'backend/include/navbar.html.twig' %}
{% endblock %}
{% block sidebar %}
    {% include 'backend/include/sidebar.html.twig' %}
{% endblock %}

{% block title %}Edit Commentaire{% endblock %}

{% block body %}
    <h1>Edit Commentaire</h1>

    {{ include('backend/commentaire/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('commentaire_index_backend') }}">back to list</a>

    {{ include('backend/commentaire/_delete_form.html.twig') }}
{% endblock %}
