{% extends 'base.html.twig' %}
{% block nav %}
    {% include 'include/navbar.html.twig' %}
{% endblock %}
{% block sidebar %}
    {% include 'include/sidebar.html.twig' %}
{% endblock %}


{% block body %}

<div class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                Here Add Your HTML Content.....
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}