{% extends 'backend/base.html.twig' %}
{% block nav %}
    {% include 'backend/include/navbar.html.twig' %}
{% endblock %}
{% block sidebar %}
    {% include 'backend/include/sidebar.html.twig' %}
{% endblock %}


{% block title %}Edit Participant{% endblock %}

{% block body %}
    <h1>Edit Participant</h1>

    {{ include('backend/participant/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('participant_index_backend') }}">back to list</a>

    {{ include('backend/participant/_delete_form.html.twig') }}
{% endblock %}
