{% extends 'backend/base.html.twig' %}
{% block nav %}
    {% include 'backend/include/navbar.html.twig' %}
{% endblock %}
{% block sidebar %}
    {% include 'backend/include/sidebar.html.twig' %}
{% endblock %}



{% block title %}New Participant{% endblock %}

{% block body %}
    <h1>Create new Participant</h1>

    {{ include('backend/participant/_form.html.twig') }}

    <a href="{{ path('participant_index_backend') }}">back to list</a>
{% endblock %}
