<nav class="navbar navbar-default navbar-fixed navbar-transparent white bootsnav">
    <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"><i
                    class="fa fa-bars"></i></button>
        <div class="navbar-header"><a class="navbar-brand" href="/"><img src="assets/img/logo-white.png"
                                                                                  class="logo logo-display"
                                                                                  alt=""><img
                        src="assets/img/logo-white.png" class="logo logo-scrolled" alt=""></a></div>
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                <li><a href="/signup"><i class="fa fa-pencil" aria-hidden="true"></i>SignUp</a></li>
                <li><a href="/pricing"><i class="fa fa-sign-in" aria-hidden="true"></i>Pricing</a></li>
                <li class="left-br"><a href="javascript:void(0)" data-toggle="modal" data-target="#signup"
                                       class="signin">Sign In Now</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                <li class="dropdown megamenu-fw">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse</a>
                    <ul class="dropdown-menu megamenu-content" role="menu">
                        <li>
                            <div class="row">
                                <div class="col-menu col-md-3">
                                    <h6 class="title">Main Pages</h6>

                                    <div class="content">
                                        <ul class="menu-col">
                                            <li><a href="/">Home Page </a></li>
                                            <li><a href="/freelancing">Freelancing</a></li>
                                            <li><a href="/signin-signup">Sign In / Sign Up</a></li>
                                            <li><a href="/accordion">Accordion</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-menu col-md-3">
                                    <h6 class="title">For Candidate</h6>

                                    <div class="content">
                                        <ul class="menu-col">
                                            <li><a href="/candidate-profile">Candidate Profile</a></li>
                                            <li><a href="/search-new">Search Jobs</a></li>
                                            <li><a href="{{ path('job') }}">Browse Jobs</a></li>
                                            <li><a href="/browsecompany">Browse Companies</a></li>
                                            <li><a href="/create-resume">Create Resume</a></li>
                                            <li><a href="/resume-detail">Resume</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-menu col-md-3">
                                    <h6 class="title">For Employer</h6>

                                    <div class="content">
                                        <ul class="menu-col">
                                            <li><a href="/employer-profile">Employer Profile</a></li>
                                            <li><a href="/create-job">Create Job</a></li>
                                            <li><a href="/manage-candidate">Manage Candidate</a></li>
                                            <li><a href="/browse-resume">Browse Resume</a></li>
                                            <li><a href="/browse-resume">Offers</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-menu col-md-3">
                                    <h6 class="title">Freelance Space</h6>

                                    <div class="content">
                                        <ul class="menu-col">
                                            <li><a href="/freelancer-detail">Freelancer detail</a></li>
                                            <li><a href="/freelancing-jobs">Freelancing Jobs</a></li>
                                            <li><a href="/freelancers">Freelancers</a></li>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </div>
    </div>
</nav>