<nav class="navbar navbar-default navbar-fixed navbar-light white bootsnav">

    <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
            <i class="fa fa-bars"></i>
        </button>
        <!-- Start Header Navigation -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img src="../assets/img/logo.png" class="logo logo-scrolled" alt="">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-left" data-in="fadeInDown" data-out="fadeOutUp">
                <li class="active"><input type="text" class="form-control" placeholder="Search..."></li>
                <li class="dropdown megamenu-fw"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse</a>
                    <ul class="dropdown-menu megamenu-content" role="menu">
                        <li>
                            <div class="row">
                                <div class="col-menu col-md-3">
                                    <h6 class="title">Main Pages</h6>
                                    <div class="content">
                                        <ul class="menu-col">
                                            <li><a href="/">Home Page </a></li>
                                            <li><a href="/freelancing">Freelancing</a></li>
                                                <li><a href="/accordion">Accordion</a></li>

                                        </ul>
                                    </div>
                                </div><!-- end col-3 -->
                                <div class="col-menu col-md-3">
                                    <h6 class="title">For Candidate</h6>
                                    <div class="content">
                                        <ul class="menu-col">
                                            <li><a href="/candidate-profile">Candidate Profile</a></li>
                                            <li><a href="/search-new">Search Jobs</a></li>
                                            <li><a href="/browse-jobs">Browse Jobs</a></li>
                                            <li><a href="/browsecompany">Browse Companies</a></li>
                                            {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.type==0 %}
                                                <li><a href="{{ path('events') }}"> browse events</a></li>
                                            {% else %}

                                            {% endif %}
                                            {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.type==1 %}
                                                <li><a href="{{ path('event_index') }}"> browse events</a></li>
                                            {% else %}

                                            {% endif %}                                            <li><a href="/create-resume">Create Resume</a></li>
                                            <li><a href="/resume-detail">Resume</a></li>

                                        </ul>
                                    </div>
                                </div><!-- end col-3 -->
                                {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.type==1 %}
                                <div class="col-menu col-md-3">
                                    <h6 class="title">For Employer</h6>
                                    <div class="content">
                                        <ul class="menu-col">
                                            <li><a href="/employer-profile">Employer Profile</a></li>
                                            <li><a href="/create-job">Create Job</a></li>
                                            <li><a href="/manage-candidate">Manage Candidate</a></li>
                                            <li><a href="/browse-resume">Browse Resume</a></li>

                                        </ul>
                                    </div>
                                </div>
                                {% else %}
                                {% endif %}
                                <div class="col-menu col-md-3">
                                    <h6 class="title">Freelance Space </h6>
                                    <div class="content">
                                        <ul class="menu-col">
                                            <li><a href="/freelancing-jobs">Freelancing Jobs</a></li>
                                            <li><a href="/freelancers">Freelancers</a></li>

                                        </ul>
                                    </div>
                                </div><!-- end col-3 -->
                            </div><!-- end row -->
                        </li>
                    </ul>
                </li>
                <li><a href="/blog">Blog</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% else %}
                    <li><a href="/signin-signup"><i class="fa fa-pencil" aria-hidden="true"></i>SignUp</a></li>
                {% endif %}
                <li><a href="/pricing"><i class="fa fa-sign-in" aria-hidden="true"></i>Pricing</a></li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="left-br"><a href="{{ path('logout') }}"
                                           class="signin">Lougout</a></li>
                {% else %}
                    <li class="left-br"><a href="/login"
                                           class="signin">Sign In Now</a></li>
                {% endif %}            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>